* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Container {
    margin: 0;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    padding-top: 15px;
}